<div class="main">



  <div class="descricao">



    <img src="assets/apoloh.jpg" class="fotoacademia">

    <p class="sobre"><strong>Acadêmia Apollo Homem </strong>esta no coração da cidade a mais de 40 anos para
      transformar seu corpo de uma
      maneira saudável. Na Acadêmia Apollo Homem, feito para o sexo masculino para definir seu corpo de uma maneira 100%
      saudável..
      <strong>Instrutor Ronan</strong>, esta no ramo a mais de cinqueta anos no ramo atrabalhando para deixar as pessoas
      em forma de
      uma manira correta sem anábolizantes.




    </p>

  </div>



  <div class="descricao2">

    <img src="assets/apolom.jpg" class="fotoacademia2">

    <p class="sobre2"><strong>Acadêmia Apollo Mulher </strong>É destinado para mulheres que desejam manter uma vida
      saudavel modelando seu corpo com o cuidado que ele merece.

      <strong>A Instrutora Soraia</strong>, é dedicada em sua profissão a mais de 40 anos transformando a vida de
      mulheres deixando as em forma.




    </p>


  </div>

  <div class="localizacao">


    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.4483278365396!2d-46.63466568562861!3d-23.588249068469487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a2b2ed7f3a1%3A0xab35da2f5ca62674!2sCaelum!5e0!3m2!1spt-BR!2sbr!4v1568814489656!5m2!1spt-BR!2sbr"
      width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>

  </div>

</div>
